<div class="add">
  <div class="container">
    <div class="navbar-header">
      <h2>Code Hunt</h2>
    </div>
    <app-navbar>  </app-navbar>

    <form #userForm="ngForm" (ngSubmit)="sendcode()">

        <br>
        <div>
          <ace-editor [(text)]="codearea" [options]="options" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000"
            (textChanged)="onChange($event)" style="min-height: 600px; width:90%; overflow: auto;"></ace-editor>
        </div>
       
       </form>
      <button class="btn button" type="submit" [disabled]="!userForm.form.valid">Compile</button><br><br>
      <div class="file">To upload the code as file click choose file and click compile
      <input id="file-upload" type="file" accept=".txt" (change)="fileUpload($event)">
     <div>
      

      <div id="name">
        <label style="color:blue"><b>Error  :</b></label>
        <p style="color:red">{{resultset?.Error}}</p>
      </div>
      <br>
      <div id="name">
        <label style="color:blue"><b>Output:</b></label>
        <p style="color:green">{{resultset?.Output}}</p>
      </div>

  </div>
</div>